view.select-tab.font14.color-black 
  view.component-container.flex-center-between
    view(
      class="select {{ defaultSelect ? 'panel-select' : '' }}"
      bind:tap="togglePanel"
    )
      text {{default}}
      text(
        class="{{showPanel ? 'arrow-top' : 'arrow-bottom' }} {{defaultSelect ? 'arrow-select' : ''}}"
      )

    view.tab.flex-full.flex
      text(
        class="tab-item flex-full {{item.select ? 'tab-item__select' : ''}}"
        wx:for="{{tabs}}"
        wx:key="index"
        wx:for-item="item"
        data-index="{{index}}"
        bind:tap="toggleTab"
      ) {{item.value}}

  view(
    class="select-panel {{ showPanel ? 'options-panel__show' : '' }}"
  )
    view(
      class="flex-center-between option-item {{ item.select ? 'option-item__select' : '' }}"
      wx:for="{{options}}"
      wx:key="index"
      wx:for-item="item"
      data-index="{{index}}"
      bind:tap="toggleOption"
    )   
      text {{item.value}}
      image(
        wx:if="{{item.select}}"
        class="check-icon"
        src="/images/icon_checkbox_selected.png"
      )

  view.mask(
    class="mask {{showPanel ? 'mask-show' : ''}}"
  )    