view.page
  view.page__hd
    view.page__title 小程序商城组件库

    view.page__desc 本项目主要是针对线上商城小程序日常用到的一些UI组件进行封装整理，抽离出大部分复用性高的组件供大家使用

  view.page__bd.page__bd_spacing
    view.li__view
      view.flex.li-container
        text.flex-full 基础组件

    view.subli__view(
      wx:for="{{baseData}}"
      wx:key="index"
      wx:for-item="item"
    ) 
      navigator.flex.li-container(
        url="{{item.link}}"
      )
        text.flex-full {{item.value}}
        image(
          class="arr-icon"
          src="/images/icon_extended_gray.png"
        )
           
    view.li__view
      view.flex.li-container
        text.flex-full 交互组件

    view.subli__view(
      wx:for="{{mutualData}}"
      wx:key="index"
      wx:for-item="item"
    )
      navigator.flex.li-container(
        url="{{item.link}}"
      )
        text.flex-full {{item.value}}
        image(
          class="arr-icon"
          src="/images/icon_extended_gray.png"
        )

    view.li__view
      view.flex.li-container
        text.flex-full 表单组件

    view.subli__view(
      wx:for="{{formData}}"
      wx:key="index"
      wx:for-item="item"
    )
      navigator.flex.li-container(
        url="{{item.link}}"
      )
        text.flex-full {{item.value}}
        image(
          class="arr-icon"
          src="/images/icon_extended_gray.png"
        )