view.product-picinfocard.classname
  product-picinfoview(
    classname="infoview"
    productPrimaryImage="{{product.productPrimaryImage}}"
    productName="{{product.productName}}"
    shopName="{{product.shopName}}"
    marketable="{{product.marketable}}"
    totalStock="{{product.totalStock}}"
  )
  grid(list="{{grids}}")

  view.price-area
    view.text-right 
      text.font12 销售价：
      block(
        wx:if="{{product.minSalePrice == product.maxSalePrice}}"
      )
        text.price-label ¥
        text.font16 {{minSaleMain}}
        text.font12(
          wx:if="{{minSaleSub}}"
        ) .{{minSaleSub}}
      block(
        wx:if="{{product.minSalePrice != product.maxSalePrice}}"
      )
        text.price-label ¥
        text.font16 {{minSaleMain}}
        text.font12(
          wx:if="{{minSaleSub}}"
        ) .{{minSaleSub}}
        text.font16 ～
        text.price-label ¥
        text.font16 {{maxSaleMain}}
        text.font12(
          wx:if="{{maxSaleSub}}"
        ) .{{maxSaleSub}}

  view.btn-group.text-right.top-line
    lz-button(class="mr10" label="分享商品")
    lz-button(class="mr10" label="库存管理")
    lz-button(label="下架商品")