view.page
  - var title = "form-input"
  - var desc = "表单输入框"
  include ../../templates/pageHead.pug

  view.page__bd.page__bd_spacing  
    form-input(
      title="我是普通文本"
      foot="看看我"
    )
    form-input(
      title="我是链接"
      foot="点我吧"
      link="https://www.baidu.com"
    )
    form-input(
      title="我是文本输入框"
      placeholder="点我输入内容吧"
      input
    )

    view.mt15
      form-input(
        title="我是复选框"
        checkbox
      )

    view.mt15
      form-input(
        classname="input-cell"
        title="我是复选框2"
        checkbox
        checked
      )

    view.mt15
      wxParse(
        nodes="{{doc}}"
        language="html"
      )
