view.date-picker
  view.mask(
    class="{{ show ? 'fade-in' : ''}}"
  )

  view.picker-container(
    class="{{ show ? 'slide-up' : '' }}"
  )
    view.picker-head.flex-center-between
      text.cancel(
        bindtap="hide"
      ) 取消
      text.title 选择时间
      text.confirm(
        bindtap="confirm"
      ) 确认

    view.picker-timer.flex-center-between
      view.flex-full.begin.timer-input(
        class="{{ active == 'begin' ? 'active' : '' }}"
        data-active="begin"
        bindtap="handleActive"
      ) {{begin ? begin : '---- : -- : --'}}
      text.timer-tips 至
      view.flex-full.end.timer-input(
        class="{{ active == 'end' ? 'active' : '' }}"
        data-active="end"
        bindtap="handleActive"
      )  {{end ? end : '---- : -- : --'}}
    
    picker-view(
      class="picker-view"
      indicator-style="height: 44px;"
      value="{{value}}"
      bindchange="bindChange"
    )
      picker-view-column
        view(
          class="picker-view-column"
          wx:for="{{years}}"
          wx:key="index"
        ) {{item}}年
      picker-view-column
        view(
          class="picker-view-column"
          wx:for="{{months}}"
          wx:key="index"
        ) {{item}}月
      picker-view-column
        view(
          class="picker-view-column"
          wx:for="{{days}}"
          wx:key="index"
        ) {{item}}日